body {
  margin: 0px;
}

.container {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.9)
    ),
    url("../images/hero.jpeg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.login-form {
  color: white;
  border: 1px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inline-form-element {
  display: inline;
}
